<phpunit bootstrap="./application/bootstrap.php" colors="true">
	<testsuite name="Precision Tests">
		<directory>./</directory>
	</testsuite>	
	<filter>
		<whitelist>
			<directory suffix=".php">../application</directory>
			<exclude>
                <directory suffix=".phtml">../application</directory>
                <directory>../application/models/DbTable/</directory>
			</exclude>
		</whitelist>
	</filter>
	
	<logging>
        <log type="junit" target="../../phpunit/junit.xml" />
        <log type="coverage-clover" target="../../phpunit/clover.xml" />
        <log type="coverage-html" target="../../phpunit/report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50"  highLowerBound="80" />
	</logging>
</phpunit>
